*{
    margin: 0%;
    padding: 0%;
}
section{
    display: flex;
    flex-shrink: 1;
    height: 100vh;
}
/* page one gif 1 */
.background-1 {
    width: 50%;
    height: 100vh;
    background-image: url("https://media.tenor.com/IOEsG9ldvhAAAAAM/mr-bean.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* page one gif 2 */
.background-2{
    width: 50%;
    background-image: url("https://media.tenor.com/PPkmJLnMIFsAAAAM/magic.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* portfolio */
h1{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    font-family: fantasy;
    color: palevioletred;

}
/* button */header {
    display: flex;
    width: 800px;
    height: 50px;
    background: linear-gradient(#d008bf, #0aceec);
    box-shadow: 0px 4px 4px 0px;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    align-items: center;
    border-radius: 50px;
}
header nav ul li:hover {
    color: #65e234;
    transition: 1.5s;
}
ul{
    display: flex;
    list-style: none;
    cursor: pointer;
}
li{
    padding: 20px;
}
/* page 2 */
h2{
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: fantasy;
    color: palevioletred;

}
/* page one midle gif */
.usher{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
}
/* page 2 background */
.simpson{
    width: 100%;
    background-image: url("https://media0.giphy.com/media/1YlqzxnnQwaGc/200w.gif?cid=82a1493bfmhs06m406jcl2wkj9alf5j2ps59enc2r1z0mgrk&ep=v1_gifs_related&rid=200w.gif&ct=g");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* about me */
.about_me{
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: palevioletred;
    margin-top: 5%;
    font-size: 30px;
    background: -webkit-linear-gradient( rgb(250, 241, 57) , #b71bb2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* about fav cartoon */
h3{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    padding: 4%;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: palevioletred;
    margin-top: 5%;
    font-size: 30px;
    background: -webkit-linear-gradient( rgb(255, 1, 1) , #7d0c0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 8%
}
/* cartooon img */
.simpson-1{
    width: 80px;
    height: 80px;
    display: flex;
    margin-top: 9%;
    padding: 6%;
    position: absolute;
}
/* about gorillaz */
h4{ 
     font-family: 'Courier New', Courier, monospace;
    position: absolute;
    padding: 4%;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: palevioletred;
    margin-top: 5%;
    font-size: 30px;
    background: -webkit-linear-gradient( rgb(255, 1, 1) , #7d0c0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    right: 0%;
    margin-top: 8%;

}
/* gorillaz img */
.band{
    margin-top: 11%;
    width: 80px; 
    position: absolute;
    right: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.end{
    height: 150px;
}
.data{
    margin: 25px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rainbow{
    margin-top: 0%;
    width: 100%;
    height: 150px;
    display: flex;
    position: absolute
}
.nukri{
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2%;

}